*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-family: Roboto;
}
  /* Navigation Bar */
  
.navbar{
    display: flex;
    align-items: center;
    background-color: #1F2937;
    color: white;
    height: 60px;
    padding: 10px 230px;
}

a{
  text-decoration: none;
  color: white;
}

.logo{
  margin-right: auto;
  font-size: 24px;
  font-weight: 900;
}

ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 20px;
}

/* -------------------------- */ 

/* Hero Section */

.hero-section{
  display: flex;
  height: 475px;
  background-color: #1F2937;
  color: white;
  
}

.hero-child-section{
  display: flex;
  margin: 100px 230px;
  gap: 60px;
}

.hero-left{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  pad: 5px;
}

.hero-main-text{
  font-size: 48px;
  font-weight: 900;
  
}

.hero-sub-text{
  font-size: 18px;
  color: #E5E7EB;
}

.signup-button{
  color: white;
  background-color: #3882F6;
  height: 38px;
  width: 130px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  padding: 10px auto ;
}

.signup-button:hover{
  cursor: pointer;
}

.signup-button:active{
  opacity: 80%;
}

.hero-right > img{
  height: 100%;
  width: 530px;
}

/* -------------------------- */ 

/* Info Section */

.info-section{
  height: 475px; 
}

.info-img{
  max-width: 179px;
  height: 179px;
  border-radius: 20px;
}

.info-child-container{
  display: flex;
  flex-direction: column;
  margin: 55px 230px;
  gap: 50px;
  align-items: center;
}

.info-title{
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
}

.info-card-container{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 50px;
}

.info-card{
  width: 180px;
}

.info-card > p{
  margin-top: 10px;
}

/* -------------------------- */ 

/* Quote Section */

.quote-section{
  height: 475px; 
  background-color: #E5E7EB;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-child-container{
  display: flex;
  flex-direction: column;
  margin: 70px 335px;
  gap: 10px;
}

.quote-text{
  font-size: 36px;
  font-style: italic;
}

.quote-author{
  margin-left: auto;
  font-weight: bold;
  font-size: 20px;
}
/* -------------------------- */ 

/* Signup Section */
.signup-section{
  height: 390px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signup-child-container{
  margin: 0 230px;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 50px 100px;
  background-color: #3882F6;
}

.signup-left{
  flex: 1;
  gap: 30px;
}

.signup-maintext{
  font-size: 25px;
  font-weight: 600;
}

.signup-subtext{
  font-size: 18px;
}
.signup-right > .signup-button{
  border: 2px solid white;
}

/* -------------------------- */ 

/* Footer Section */

.footer-section{
  height: 85px;
  background-color: #1F2937;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-text{
  color: white;
  font-size: 20px;
}

/* -------------------------- */ 

